<div id="currentHeroJumbotron" class="jumbotron">
  <h2>Today's&nbsp;Support&nbsp;Hero</h2>
  <h1><%= @current_shift.employee.first_name %></h1>
</div>

<h3>Future Heroes in <%= Date.today.strftime("%B") %></h3>

<%= render "shared/show_schedule" %>