<%= link_to "< Back to all shifts", shifts_path %>

<h3>Re-Generate Schedules</h3>
<p>By re-generating schedules, you will automatically create new shifts based upon default order, and with consideration for work restrictions.</p>
<%= link_to "Re-Generate Schedules", action: "regenerateSchedules" %>
<hr />

<%= link_to "< Back to all shifts", shifts_path %>