/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-theme.min.css
 *= require bootstrap.min.css
 */

body {
  font-family: 'Montserrat', sans-serif!important;
}

a {
  color:#333!important;
  text-decoration: underline!important;
}

.navbar-text a {
  color:#8ad7d4!important;
}

.navbar-header > *, .navbar-link, .navbar-inverse {
  color:#FFF!important;  
  border-radius: 0px!important;
  background-color: #4c4c4c!important;
  border-color:transparent!important;
}

.container-fluid {
  background-color: #4c4c4c;
}

.navbar-text {
  color:#FFF!important; 
}

.navbar-brand .logo {
  font-size: 30px;
}

.navbar-brand {
  text-decoration: none!important;
}

.navbar-right {
   padding-right: 15px;
}

.logLink {
  display:inline-block;
  margin: 0 20px;
}

.container {
  margin-top:10px;
}

#currentHeroJumbotron {
  border-radius: 2px;
  text-align: center;  
  background-color:#8ad7d4;
}

.futureHero {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size:20px;
  background-color:#307688;
  color:#FFF;
}

.futureHero.current {
  background-color:#8ad7d4;
  color:#333;
}

.futureHero a {
  font-size:12px !important;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.unavailable {
  background-color:#dd7f2e;
  color:#333;
}

.shiftSwapConfirmLink, .shiftSwapCancelLink {
  display:none;
}

.alert {
  border-radius: 2px;
}

.alert-notice {
  background-color:#9fc163;
}

.alert-alert {
  background-color:#d86e5a;
}

.pendingSwap {
  background-color:#5e4d94;
}

.pendingSwapSpan {
  font-size:12px;
}